*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html, body {
  min-height: 100%;
  box-sizing: border-box;
  font-size: 62.5%; }

#app {
  max-width: 1920px;
  margin: 0 auto;
  padding: 3rem;
  height: 100%;
  width: 100%;
  overflow: auto;
  /*** add sticky footer at the bottom **/
  display: flex;
  flex-direction: column; }
  #app p,
  #app a {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: transparent;
    background-image: linear-gradient(to right, #54483A, #c69963);
    background-clip: text;
    -webkit-background-clip: text;
    font-size: 2rem; }
    @media only screen and (max-width: 568px) {
      #app p,
      #app a {
        font-size: 1.7rem; } }

header, footer {
  flex-shrink: 0; }

.app__content {
  flex: 1 0 auto;
  background-color: black; }

/** --- **/
.section {
  padding-top: 5rem; }

h2,
h3 {
  width: 100%;
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: transparent;
  background-image: linear-gradient(to right, #54483A, #c69963);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  font-weight: bolder;
  display: inline-block; }
  @media only screen and (max-width: 568px) {
    h2,
    h3 {
      font-size: 1.7rem; } }

h2 {
  font-size: 3rem; }
  @media only screen and (max-width: 568px) {
    h2 {
      font-size: 1.7rem; } }

h3 {
  font-size: 5rem; }
  @media only screen and (max-width: 568px) {
    h3 {
      font-size: 1.7rem; } }

header {
  background-color: #101d2c;
  max-height: 30%;
  padding: 5rem; }

@media only screen and (max-width: 479px) {
  header {
    padding: 4rem; } }

footer {
  background-color: #101d2c;
  padding: 5rem; }

@media only screen and (max-width: 479px) {
  footer {
    padding: 3rem; } }

#background {
  width: 50%;
  margin: 0 auto;
  padding: 5rem; }
  #background img {
    border-radius: 50%;
    height: auto;
    max-width: 100%;
    float: left;
    shape-outside: circle(50% at 50% 50%);
    filter: brightness(0.8); }
  #background ul {
    list-style: none;
    padding: 3rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start; }
    #background ul li {
      font-family: "Avenir", Helvetica, Arial, sans-serif;
      -webkit-font-smoothing: antialiased;
      -moz-osx-font-smoothing: grayscale;
      text-align: center;
      color: transparent;
      background-image: linear-gradient(to right, #54483A, #c69963);
      background-clip: text;
      -webkit-background-clip: text;
      font-size: 2rem; }
      @media only screen and (max-width: 568px) {
        #background ul li {
          font-size: 1.7rem; } }
  #background__en {
    display: block; }
  #background__fr {
    display: none; }
  #background a {
    border-bottom: 0.1rem solid #54483A; }

@media only screen and (max-width: 1024px) {
  #background {
    width: 80%; } }

@media only screen and (max-width: 768px) {
  #background {
    width: 90%; } }

@media only screen and (max-width: 568px) {
  #background {
    padding: 5rem 2rem; }
    #background img {
      width: 50%; } }

@media only screen and (max-width: 479px) {
  #background {
    width: 95%;
    padding: 5rem 1rem; }
    #background ul {
      padding: 3rem 5rem; } }

#portfolio {
  background-color: white;
  height: auto; }
  #portfolio .sites {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between; }
    #portfolio .sites__link {
      width: 80%;
      display: flex;
      justify-content: center;
      align-items: center; }
    #portfolio .sites__image {
      margin-bottom: 5rem;
      height: auto;
      width: 90%;
      max-width: 100%;
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5); }
      #portfolio .sites__image:hover {
        outline: 0.5rem solid rgba(84, 72, 58, 0.25);
        outline-offset: 2rem; }
      #portfolio .sites__image__bue {
        margin-top: 5rem; }

#social {
  width: 100%;
  background-color: white; }
  #social ul {
    margin: 0 auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-content: center; }
    #social ul .logo:hover {
      cursor: pointer; }
    #social ul .linkedin,
    #social ul .malt,
    #social ul .github,
    #social ul .gitlab {
      background-image: linear-gradient(to right, #54483A, #c69963);
      margin: 2rem;
      mask-size: contain; }
    #social ul .linkedin {
      mask-image: url(../assets/linkedin.svg);
      -webkit-mask-image: url(../assets/linkedin.svg);
      width: 7rem;
      height: 7rem; }
    #social ul .malt {
      mask-image: url(../assets/malt.svg);
      -webkit-mask-image: url(../assets/malt.svg);
      width: 7.7rem;
      height: 7.7rem;
      filter: brightness(0.9); }
    #social ul .github,
    #social ul .gitlab {
      width: 6rem;
      height: 6rem; }
    #social ul .github {
      mask-image: url(../assets/github.svg);
      -webkit-mask-image: url(../assets/github.svg); }
    #social ul .gitlab {
      mask-image: url(../assets/gitlab.svg);
      -webkit-mask-image: url(../assets/gitlab.svg); }

@media only screen and (max-width: 479px) {
  #social ul .linkedin,
  #social ul .malt,
  #social ul .github,
  #social ul .gitlab {
    margin: 1rem; }
  #social ul .linkedin {
    height: 4.2rem;
    width: 4.2rem; }
  #social ul .malt {
    height: 4.7rem;
    width: 4.7rem; }
  #social ul .github,
  #social ul .gitlab {
    width: 3.5rem;
    height: 3.5rem; } }
