@mixin absCentre {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

@mixin goldBackground {
    background-image: linear-gradient(to right, $colour-tertiary, $colour-quaternary);
}

@mixin goldenText {
    color: transparent;
    @include goldBackground;
    background-clip: text;   
    -webkit-background-clip: text;   
} 

@mixin defaultTextStyle {
        font-family: "Avenir", Helvetica, Arial, sans-serif;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-align: center;  
       @include goldenText; 
        font-size: 2rem;

        @include breakpoint(mob-landscape){
            font-size: 1.7rem;
        }
} 

@mixin breakpoint($type) {
    @if $type == mob-portrait {
        @media only screen and (max-width: $break-mobile-portrait) {@content;}
    }
    @else if $type == mob-landscape {
        @media only screen and (max-width: $break-mobile-landscape) {@content;}
    }
    @else if $type == tab-portrait {
        @media only screen and (max-width: $break-tablet-portrait) {@content;}
    }
    @else if $type == tab-landscape {
        @media only screen and (max-width: $break-tablet-landscape) {@content;}
    }
    @else if $type == standard-content {
        @media only screen and (max-width: $standard-width-content) {@content;}
    }
    @else if $type == standard-page {
        @media only screen and (max-width: $max-width-content) {@content;}
    }
    @else if $type == max-page {
        @media only screen and (max-width: $max-width-page) {@content;}
    }
}