#background {
    width: 50%;
    margin: 0 auto;
    padding: 5rem;

    img {
        border-radius: 50%;
        height: auto;
        max-width: 100%;
        float: left;
        shape-outside: circle(50% at 50% 50%);
        filter: brightness(.8);
    }
 
    ul {
        list-style: none;
        padding: 3rem 10rem; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        li {
            @include defaultTextStyle; 
        }

    }

    &__en {
        display: block;
    }

    &__fr {
        display: none;
    }

    a {
       border-bottom: .1rem solid $colour-tertiary;
    }

}

@include breakpoint(tab-landscape){

    #background {
        width: 80%;
    }

}

@include breakpoint(tab-portrait){

    #background {
        width: 90%;
    }

}

@include breakpoint(mob-landscape){

    #background {
        padding: 5rem 2rem;

        img {
            width: 50%;
        }

    }

}

@include breakpoint(mob-portrait){

    #background {
        width: 95%;
        padding: 5rem 1rem;

        ul {
            padding: 3rem 5rem;
        }
    }

}