#portfolio {
    background-color: white;
    height: auto;

    .sites {
        display: flex;
        flex-direction: column; 
        align-items: center;
        justify-content: space-between;

        &__link {
            width: 80%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__image {
            margin-bottom: 5rem;
            height: auto;
            width: 90%;
            max-width: 100%;
            box-shadow: 0 1rem 2rem rgba(black, .5);

            &:hover {
                outline: .5rem solid rgba($colour-tertiary, .25);
                outline-offset: 2rem;
            }

            &__bue {
                margin-top: 5rem;
            }

        }

    }

}