#social {
    width: 100%;
    background-color: white;
    ul {
        margin: 0 auto;
        list-style: none;
        display: flex;
        justify-content: center;
        align-content: center;

        .logo {
            &:hover {
                cursor: pointer;
            }
        }

        .linkedin,
        .malt,
        .github,
        .gitlab {
            @include goldBackground;
           margin: 2rem;
           mask-size: contain;

       }
   
       .linkedin {
          mask-image: url(../assets/linkedin.svg);
          -webkit-mask-image: url(../assets/linkedin.svg);
           width: 7rem;
           height: 7rem; 
       }

   
       .malt {
       mask-image: url(../assets/malt.svg);
       -webkit-mask-image: url(../assets/malt.svg);
        width: 7.7rem;
        height: 7.7rem;
        filter: brightness(.9);
       }

       .github,
       .gitlab {
           width: 6rem;
           height: 6rem;
       }

       .github {
        mask-image: url(../assets/github.svg);
        -webkit-mask-image: url(../assets/github.svg);
       }

       .gitlab {
        mask-image: url(../assets/gitlab.svg);
        -webkit-mask-image: url(../assets/gitlab.svg);
       }
    }

}


@include breakpoint(mob-portrait){

    #social {

        ul {
            .linkedin,
            .malt,
            .github,
            .gitlab {
                margin: 1rem;
            }
            
            .linkedin {
                height: 4.2rem;
                width: 4.2rem;
            }

            .malt {
                height: 4.7rem;
                width: 4.7rem;
            }

            .github,
            .gitlab {
                width: 3.5rem;
                height: 3.5rem;
            }
        }
    }

}